@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px;
}

input,
select,
textarea {
  min-height: 45px !important;
  border: 1px solid #b9b9b9 !important;
  width: 100% !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid #6a6a6a !important;
  box-shadow: none !important;
}

button {
  height: 45px !important;
  box-shadow: none !important;
}
